<br/>
<div class="alert alert-info">It's a wrap folks.. The torment is over. All the best for your coming semesters.</div>
<div class="alert alert-info"><span class='label label-primary'>2320 hrs, 22/07/2017</span>&nbsp; Lecture notes for Lecture 8, 9, 10, 11, and 12 are up. Sorry it took long..</div>
<div class="alert alert-danger"><span class="label lable-primary">1000 hrs, 01/07/2017</span>&nbsp; <a href='https://github.com/schacon/git-presentations/blob/master/basic_git_talk/BasicGitTalk.pdf'>Presentation</a> from Shreyansh's talk on GIT</div>
<div class="alert alert-info"><span class='label label-primary'>1300 hrs, 23/06/2017</span>&nbsp; Lecture notes for Lecture 7 are up. Also Paper implementation assignment is up.</div>
<div class="alert alert-info"><span class='label label-primary'>2155 hrs, 20/06/2017</span>&nbsp; Lecture notes for Lectures 3, 4, 5 are up.</div>
<div class="alert alert-danger"><span class='label label-primary'>0830 hrs, 14/06/2017</span>&nbsp; Assignment 2 is now up. Due date: 17/06/2017 at 2000 hours.</div>
<div class="alert alert-info"><span class='label label-primary'>0830 hrs, 14/06/2017</span>&nbsp; Programming Muscle development assignment 1 is now up. Due date: 17/06/2017 at 2000 hours.</div>
<div class="alert alert-danger"><span class='label label-primary'>1130 hrs, 09/06/2017</span>&nbsp; Assignment 1 is now up. Due date: 11/06/2017 at 0700 hours.</div>
<div class="alert alert-info"><span class='label label-primary'>0930 hrs, 08/06/2017</span>&nbsp; Lecture 2 notes uploaded in the Lectures section.</div>
<div class="alert alert-info"><span class='label label-primary'>1300 hrs, 06/06/2017</span>&nbsp; Lecture 1 notes uploaded in the Lectures section.</div>
<div class="alert"><span class='label label-primary'>1350 hrs, 04/06/2017</span>&nbsp; <a href='data/bashtutorial.pdf'>Bash Tutorial</a> and <a href='data/vim_tutorial.pdf'>Vim Tutorial </a> added. Do go through it.</div>
<div class="alert alert-info"><span class='label label-primary'>0900 hrs, 04/06/2017</span>&nbsp; First Lab to be held at CL-4.</div>
<div class="alert alert-info"><span class='label label-primary'>0900 hrs, 03/06/2017</span>&nbsp;
Welcome to Real World Programming. Be prepared to go down the rabbit hole...	</div>
