<br/>
<div><a href="/mgmrwp/data/assignment_2.pdf">Assignment 2</a> Strings </div> 
<div><a href="/mgmrwp/data/assignment_1.pdf">Assignment 1</a> Star Wars</div> 
<hr/>
<div><a href="/mgmrwp/data/muscle_1.pdf">Bonus Assignment 1</a> If..Else..</div> 
<hr/>
<b>Papers to implement</b>
<p>This excercise is to read some of these papers and implement the algorithms written in them in C. This will do two things - help you to read research papers, and then to actually implement code which you have not seen before. Please give it a shot</p>
<div><a href="http://penguin.ewu.edu/cscd300/Topic/AdvSorting/p30-shell.pdf">Shell Sort</a></div>
<div><a href="https://pdfs.semanticscholar.org/a376/74a4a907196899cbcb452fa18d9ba83b80ed.pdf">Johnson-Trot Permutation Algorithm</a></div>
<div><a href="http://www.cs.utexas.edu/~moore/publications/fstrpos.pdf">Boyer-Moore String Searching</a></div>
<div>Ok this one's a bit hard. <a href="https://graphics.stanford.edu/courses/cs448b-00-winter/papers/gilbert.pdf">Distance between two convex objects</a></div>
<div><a href="http://bwrcs.eecs.berkeley.edu/Classes/icdesign/ee241_s00/PAPERS/archive/booth51.pdf">Booth Multiplication</a></div>
