<br/>
<div><a href='data/Day0.pdf'>Lecture 0 (Slides)</a> Introduction and Logistics </div>
<div><a href='data/lecture1.notes.pdf'>Lecture 1 (Notes)</a> Functions - the very basics </div>
<div><a href='data/lecture2.notes.pdf'>Lecture 2 (Notes)</a> Functions - Examples, Recursive formulations </div>
<div><a href='data/lecture3.notes.pdf'>Lecture 3 (Notes)</a> Functions with Loops </div>
<div><a href='data/lecture4.notes.pdf'>Lecture 4 &amp; 5 (Notes)</a> Arrays </div>
<div><a href='data/lecture7.notes.pdf'>Lecture 7 (Notes)</a> State Machines </div>
<div><a href='data/lecture8.notes.pdf'>Lecture 8 (Notes)</a> Booth Multiplication </div>
<div><a href='data/lecture9.notes.pdf'>Lecture 9 (Notes)</a> URL Parsing </div>
<div><a href='data/lecture10.notes.pdf'>Lecture 10 (Notes)</a> Linked Lists </div>
<div><a href='data/lecture11.notes.pdf'>Lecture 11 (Notes)</a> Calculating Pi </div>
<div><a href='data/lecture12.notes.pdf'>Lecture 12 (Notes)</a> Sampling </div>